In [1]:
import camelot

In [2]:
import pandas as pd

In [4]:
tables = camelot.read_pdf("Demographics_by_NTA.pdf", flavor="stream", pages="2-8")
tables

In [5]:
tables[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,,,,,,,,,,,,"% Race/Ethnicity,",,,
1,,,,,Total,,,,,,,,,,
2,,,Boro,,,65+ Population in NTA,,% 65+ Below,,,,all Population in NTA,,,
3,Neighborhood Tabulation Area (NTA) Name,NTA Code,,Boro CD,populatio,,,,,,,,,,
4,,,Name,,,,% 65+,poverty,% Hispanic/,,,% Black/ African,,,
5,,,,,n,# 65+ years,,,,,% White,,,% Asian,% Other
6,,,,,,,,,Latino,,,American,,,
7,,,,,,years,,,,,,,,,
8,Claremont-Bathgate,BX01,Bronx,203,"35,560","2,692",7.6,42.1,,60.6,1,,37.3,0.1,1.0%
9,Eastchester-Edenwald-Baychester,BX03,Bronx,212,"37,887","4,939",13,11.7,,24.6,3.1,,66,4.2,2.2%
10,Bedford Park-Fordham North,BX05,Bronx,207,"57,685","4,993",8.7,30,,75,4.2,,15.6,3.8,1.5%
11,Belmont,BX06,Bronx,206,"29,115","2,197",7.5,28.9,,61,18.2,,16.3,2.1,2.4%
12,Bronxdale,BX07,Bronx,211,"39,423","4,780",12.1,23.2,,54.9,13.9,,26.1,2.9,2.2%
13,West Farms-Bronx River,BX08,Bronx,209,"36,014","4,063",11.3,21.3,,65.8,2.7,,26.6,2.8,2.1%
14,Soundview-Castle Hill-Clason Point-Harding Park,BX09,Bronx,209,"54,925","8,065",14.7,19.9,,60.4,2.7,,34.1,1.3,1.5%
15,Pelham Bay-Country Club-City Island,BX10,Bronx,210,"26,877","5,375",20,12.2,,41.4,49.4,,4.3,3.7,1.1%
16,Co-op City,BX13,Bronx,210,"47,400","11,354",24,15.2,,28.3,6.6,,59.2,2.3,3.6%
17,East Concourse-Concourse Village,BX14,Bronx,204,"64,850","7,727",11.9,30.8,,63.3,1.6,,31.2,1.4,2.6%
18,East Tremont,BX17,Bronx,206,"44,057","5,195",11.8,37,,68.8,1.4,,28.3,0.7,0.9%
19,North Riverdale-Fieldston-Riverdale,BX22,Bronx,208,"27,551","7,066",25.6,9.8,,21.6,61.8,,8.9,5.1,2.6%
20,Highbridge,BX26,Bronx,204,"39,140","3,309",8.5,40.6,,64.3,2.5,,32.1,0.5,0.7%
21,Hunts Point,BX27,Bronx,202,"26,196","2,551",9.7,45.1,,70.7,1.7,,26.5,0.4,0.7%
22,Van Cortlandt Village,BX28,Bronx,208,"50,935","6,333",12.4,23.6,,69.7,8,,16.1,3.7,2.6%
23,Spuyten Duyvil-Kingsbridge,BX29,Bronx,208,"31,295","7,431",23.7,9,,38.7,45.7,,8.2,4.9,2.5%
24,Kingsbridge Heights,BX30,Bronx,207,"32,163","3,888",12.1,34.9,,75.7,3.5,,15.6,2.3,2.9%
25,Allerton-Pelham Gardens,BX31,Bronx,211,"31,993","6,274",19.6,11.7,,36.3,21,,31,9.8,1.8%
26,Longwood,BX33,Bronx,202,"27,864","2,536",9.1,42.8,,69.9,1.7,,25.7,1.5,1.1%
27,Melrose South-Mott Haven North,BX34,Bronx,201,"42,882","4,062",9.5,40.1,,65.6,1.7,,30.4,0.6,1.7%
28,Morrisania-Melrose,BX35,Bronx,203,"40,925","3,621",8.8,31.8,,58.3,1.2,,38.2,1,1.4%
29,University Heights-Morris Heights,BX36,Bronx,205,"56,293","4,749",8.4,45.3,,68.9,1.1,,27.8,1.5,0.6%
30,Van Nest-Morris Park-Westchester Square,BX37,Bronx,211,"29,004","3,344",11.5,14.2,,51.5,24.3,,11.8,10,2.5%
31,Mott Haven-Port Morris,BX39,Bronx,201,"54,163","4,708",8.7,46.6,,68.8,1.9,,28,0.4,0.9%
32,Fordham South,BX40,Bronx,205,"28,164","1,853",6.6,43.8,,71.6,0.7,,25.3,0.4,1.9%
33,Mount Hope,BX41,Bronx,205,"53,198","4,661",8.8,36.6,,69,1.3,,26.4,1.4,1.8%
34,Norwood,BX43,Bronx,207,"42,227","3,855",9.1,29.9,,63.5,9.7,,13.5,10.7,2.5%
35,Williamsbridge-Olinville,BX44,Bronx,212,"66,606","8,250",12.4,16.9,,26.4,2.4,,68.3,1.3,1.6%
36,Parkchester,BX46,Bronx,209,"30,372","3,562",11.7,15.7,,38.2,2,,40.3,16.2,3.3%
37,Pelham Parkway,BX49,Bronx,211,"28,913","4,211",14.6,13.1,,43.4,30.7,,13.9,10,1.9%
38,Schuylerville-Throgs Neck-Edgewater Park,BX52,Bronx,210,"46,810","7,374",15.8,14.2,,49.2,36.3,,9.6,3.4,1.5%
39,Soundview-Bruckner,BX55,Bronx,209,"37,130","4,105",11.1,25.8,,63.9,3,,21.5,8.7,2.9%

In [10]:
df = pd.concat([
    tables[0].df,
    tables[1].df,
    tables[2].df,
    tables[3].df,
    tables[4].df,
    tables[5].df,
    tables[6].df,
    tables[7].df,
    tables[8].df,
    tables[9].df
], ignore_index=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,,,,,,,,,,,,"% Race/Ethnicity,",,,
1,,,,,Total,,,,,,,,,,
2,,,Boro,,,65+ Population in NTA,,% 65+ Below,,,,all Population in NTA,,,
3,Neighborhood Tabulation Area (NTA) Name,NTA Code,,Boro CD,populatio,,,,,,,,,,
4,,,Name,,,,% 65+,poverty,% Hispanic/,,,% Black/ African,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,,,,,,years,,,,,NaN,NaN,NaN,NaN,NaN
365,Arden Heights,SI48,Staten Isla,503,"26,982","3,990\n14.8",9.7,13.4\n77.5\n1.6,6.1,1.4%,NaN,NaN,NaN,NaN,NaN
366,Great Kills,SI54,Staten Isla,503,"42,306","7,499\n17.7",10.7,9.4\n83.5\n0.9,5.2,0.9%,NaN,NaN,NaN,NaN,NaN
367,park-cemetery-etc-Staten Island,SI99,Staten Isla,595,-,-,,,,#DIV/0!,NaN,NaN,NaN,NaN,NaN
368,Sources: American Community Survey (ACS) by Ne...,,,,,,,,,,NaN,NaN,NaN,NaN,NaN

In [14]:
#Change the columns
df = df.rename(columns={
    0: 'Neighborhood_Name',
    1: 'NTA_Code',
    2: 'Boro_Name',
    3: 'Boro_CD',
    4: 'Total_pop',
    5: 'Num_65_over',
    6: 'Per_65_over',
    7: 'Per_65_over_poverty',
    8: 'Per_Hispanic_Latino',
    9: 'Per_White',
    10: 'Per_Black',
    11: 'Per_Asian',
    12: 'Per_Other'
})
df = df[df['Neighborhood_Name'] != 'Neighborhood_Name']
df

,Neighborhood_Name,NTA_Code,Boro_Name,Boro_CD,Total_pop,Num_65_over,Per_65_over,Per_65_over_poverty,Per_Hispanic_Latino,Per_White,Per_Black,Per_Asian,,ANNUAL,14
0,,,,,,,,,,,,"% Race/Ethnicity,",,,
1,,,,,Total,,,,,,,,,,
2,,,Boro,,,65+ Population in NTA,,% 65+ Below,,,,all Population in NTA,,,
3,Neighborhood Tabulation Area (NTA) Name,NTA Code,,Boro CD,populatio,,,,,,,,,,
4,,,Name,,,,% 65+,poverty,% Hispanic/,,,% Black/ African,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,,,,,,years,,,,,NaN,NaN,NaN,NaN,NaN
365,Arden Heights,SI48,Staten Isla,503,"26,982","3,990\n14.8",9.7,13.4\n77.5\n1.6,6.1,1.4%,NaN,NaN,NaN,NaN,NaN
366,Great Kills,SI54,Staten Isla,503,"42,306","7,499\n17.7",10.7,9.4\n83.5\n0.9,5.2,0.9%,NaN,NaN,NaN,NaN,NaN
367,park-cemetery-etc-Staten Island,SI99,Staten Isla,595,-,-,,,,#DIV/0!,NaN,NaN,NaN,NaN,NaN
368,Sources: American Community Survey (ACS) by Ne...,,,,,,,,,,NaN,NaN,NaN,NaN,NaN

In [15]:
#drop any rows that have unnecessary values in the rebounds columns
df = df[df.Total_pop != "Total"]

In [16]:
df = df[df.Boro_Name != "Boro"]

In [17]:
df = df[df.NTA_Code != "NTA Code"]

In [19]:
df = df[df.Boro_Name != "Name"]
df = df[df.Total_pop != "n"]
df = df[df.Num_65_over != "years"]

In [23]:
df = df[df.Per_Hispanic_Latino != "Latino"]
df = df[df.Per_Asian != "% Race/Ethnicity,"]

In [24]:
df

,Neighborhood_Name,NTA_Code,Boro_Name,Boro_CD,Total_pop,Num_65_over,Per_65_over,Per_65_over_poverty,Per_Hispanic_Latino,Per_White,Per_Black,Per_Asian,,ANNUAL,14
8,Claremont-Bathgate,BX01,Bronx,203,"35,560","2,692",7.6,42.1,,60.6,1,,37.3,0.1,1.0%
9,Eastchester-Edenwald-Baychester,BX03,Bronx,212,"37,887","4,939",13,11.7,,24.6,3.1,,66,4.2,2.2%
10,Bedford Park-Fordham North,BX05,Bronx,207,"57,685","4,993",8.7,30,,75,4.2,,15.6,3.8,1.5%
11,Belmont,BX06,Bronx,206,"29,115","2,197",7.5,28.9,,61,18.2,,16.3,2.1,2.4%
12,Bronxdale,BX07,Bronx,211,"39,423","4,780",12.1,23.2,,54.9,13.9,,26.1,2.9,2.2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,,,,,,,Latino,American,,,NaN,NaN,NaN,NaN,NaN
365,Arden Heights,SI48,Staten Isla,503,"26,982","3,990\n14.8",9.7,13.4\n77.5\n1.6,6.1,1.4%,NaN,NaN,NaN,NaN,NaN
366,Great Kills,SI54,Staten Isla,503,"42,306","7,499\n17.7",10.7,9.4\n83.5\n0.9,5.2,0.9%,NaN,NaN,NaN,NaN,NaN
367,park-cemetery-etc-Staten Island,SI99,Staten Isla,595,-,-,,,,#DIV/0!,NaN,NaN,NaN,NaN,NaN
368,Sources: American Community Survey (ACS) by Ne...,,,,,,,,,,NaN,NaN,NaN,NaN,NaN

In [25]:
df.to_csv('Demographic.csv', index=False)